<!-- templates/registration/login.html -->
{% load static %} {% load crispy_forms_tags %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Log in</title>

    <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"
    />

    <link
        rel="stylesheet"
        href="{% static 'plugins/fontawesome-free/css/all.min.css' %}"
    />

    <link
        rel="stylesheet"
        href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}"
    />

    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}" />
    {% comment %}
    <script
        defer=""
        referrerpolicy="origin"
        src="/cdn-cgi/zaraz/s.js?z=JTdCJTIyZXhlY3V0ZWQlMjIlM0ElNUIlNUQlMkMlMjJ0JTIyJTNBJTIyQWRtaW5MVEUlMjAzJTIwJTdDJTIwTG9nJTIwaW4lMjIlMkMlMjJ4JTIyJTNBMC40NDcxNjMxNDU0OTExMzA5JTJDJTIydyUyMiUzQTEyODIlMkMlMjJoJTIyJTNBOTMzJTJDJTIyaiUyMiUzQTkyNyUyQyUyMmUlMjIlM0ExMjgwJTJDJTIybCUyMiUzQSUyMmh0dHBzJTNBJTJGJTJGYWRtaW5sdGUuaW8lMkZ0aGVtZXMlMkZ2MyUyRnBhZ2VzJTJGZXhhbXBsZXMlMkZsb2dpbi5odG1sJTIyJTJDJTIyciUyMiUzQSUyMmh0dHBzJTNBJTJGJTJGYWRtaW5sdGUuaW8lMkZ0aGVtZXMlMkZ2MyUyRnBhZ2VzJTJGZXhhbXBsZXMlMkZjb250YWN0cy5odG1sJTIyJTJDJTIyayUyMiUzQTI0JTJDJTIybiUyMiUzQSUyMlVURi04JTIyJTJDJTIybyUyMiUzQS0xODAlMkMlMjJxJTIyJTNBJTVCJTVEJTdE"
    ></script>
    {% endcomment %}
    {% comment %} <script nonce="ab54d382-344b-4f71-96b8-d8ac2a819437">
        ;(function (w, d) {
            !(function (dK, dL, dM, dN) {
                dK[dM] = dK[dM] || {}
                dK[dM].executed = []
                dK.zaraz = { deferred: [], listeners: [] }
                dK.zaraz.q = []
                dK.zaraz._f = function (dO) {
                    return function () {
                        var dP = Array.prototype.slice.call(arguments)
                        dK.zaraz.q.push({ m: dO, a: dP })
                    }
                }
                for (const dQ of ['track', 'set', 'debug'])
                    dK.zaraz[dQ] = dK.zaraz._f(dQ)
                dK.zaraz.init = () => {
                    var dR = dL.getElementsByTagName(dN)[0],
                        dS = dL.createElement(dN),
                        dT = dL.getElementsByTagName('title')[0]
                    dT && (dK[dM].t = dL.getElementsByTagName('title')[0].text)
                    dK[dM].x = Math.random()
                    dK[dM].w = dK.screen.width
                    dK[dM].h = dK.screen.height
                    dK[dM].j = dK.innerHeight
                    dK[dM].e = dK.innerWidth
                    dK[dM].l = dK.location.href
                    dK[dM].r = dL.referrer
                    dK[dM].k = dK.screen.colorDepth
                    dK[dM].n = dL.characterSet
                    dK[dM].o = new Date().getTimezoneOffset()
                    if (dK.dataLayer)
                        for (const dX of Object.entries(
                            Object.entries(dataLayer).reduce(
                                (dY, dZ) => ({ ...dY[1], ...dZ[1] }),
                                {}
                            )
                        ))
                            zaraz.set(dX[0], dX[1], { scope: 'page' })
                    dK[dM].q = []
                    for (; dK.zaraz.q.length; ) {
                        const d_ = dK.zaraz.q.shift()
                        dK[dM].q.push(d_)
                    }
                    dS.defer = !0
                    for (const ea of [localStorage, sessionStorage])
                        Object.keys(ea || {})
                            .filter((ec) => ec.startsWith('_zaraz_'))
                            .forEach((eb) => {
                                try {
                                    dK[dM]['z_' + eb.slice(7)] = JSON.parse(
                                        ea.getItem(eb)
                                    )
                                } catch {
                                    dK[dM]['z_' + eb.slice(7)] = ea.getItem(eb)
                                }
                            })
                    dS.referrerPolicy = 'origin'
                    dS.src =
                        '/cdn-cgi/zaraz/s.js?z=' +
                        btoa(encodeURIComponent(JSON.stringify(dK[dM])))
                    dR.parentNode.insertBefore(dS, dR)
                }
                ;['complete', 'interactive'].includes(dL.readyState)
                    ? zaraz.init()
                    : dK.addEventListener('DOMContentLoaded', zaraz.init)
            })(w, d, 'zarazData', 'script')
        })(window, document)
    </script> {% endcomment %}
</head>

<body class="login-page" style="min-height: 496.781px">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form method="post">
                    {% csrf_token %} 
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %} {{ error }} 
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="input-group mb-3">
                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            placeholder="Email"
                            required
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Password"
                            required
                        />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" />
                                <label for="remember"> Remember Me </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button
                                type="submit"
                                class="btn btn-primary btn-block"
                            >
                                Sign In
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using
                        Google+
                    </a>
                </div>

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="register.html" class="text-center"
                        >Register a new membership</a
                    >
                </p>
            </div>
        </div>
    </div>

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>
