{% extends 'adminlte/base.html' %} {% load static %} {% block title %} Device
Details {% endblock %} {% block content %} {% load crispy_forms_tags %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-body row">
            <div
                class="col-5 text-center d-flex align-items-center justify-content-center"
            >
                <div class="">
                    <h2><strong>{{ form.name.value|upper }}</strong></h2>
                    
                    {% comment %} <img
                        src="{{ form.logo.value.url }}"
                        alt="{{ form.name.value }}"
                        width="200"
                        height="200"
                    /> {% endcomment %}
                </div>
            </div>
            <div class="col-7">
                {% if form.errors %}
   {% for field in form %}
      {% for error in field.errors %}
          {{ error|escape }}
      {% endfor %}
   {% endfor %}
{% endif %}
{{ form.non_field_errors }}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Customize individual fields -->
                        {{ form.image|as_crispy_field }}
                        {{ form.asset_tag|as_crispy_field }}
                        {{ form.model_id|as_crispy_field }}
                        {{ form.serial_no|as_crispy_field }}
                        {{ form.purchase_date|as_crispy_field }}
                        {{ form.asset_eol_date|as_crispy_field }}
                        {{ form.purchase_cost|as_crispy_field }}
                        {{ form.order_number|as_crispy_field }}
                        {{ form.status|as_crispy_field }}
                        {{ form.rtd_location_id|as_crispy_field }}
                        {{ form.warranty_months|as_crispy_field }}
                        {{ form.supplier_id|as_crispy_field }}
                        {{ form.last_checkout|as_crispy_field }}
                        {{ form.expected_checkin|as_crispy_field }}
                        {{ form.assigned_type|as_crispy_field }}
                        {{ form.last_audit_date|as_crispy_field }}
                        {{ form.next_audit_date|as_crispy_field }}
                        {{ form.comments|as_crispy_field }}
                        
                        
                        
                        {{ form.archived|as_crispy_field }}
                        {{ form.physical|as_crispy_field }}
                        {{ form.depreciate|as_crispy_field }}
                        {{ form.byod|as_crispy_field }}


                    <button type="submit" class="btn btn-success float-right">
                        <i class="fa fa-save pr-1"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
