{% extends 'adminlte/base.html' %} {% load static %} {% block title %} Department
Details {% endblock %} {% block content %} {% load crispy_forms_tags %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-body row">
            <div
                class="col-12 col-md-5 order-1 order-md-1 text-center d-flex align-items-center justify-content-center"
            >

            <div class="col-12 col-md-7 order-2 order-md-2">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Customize individual fields -->
                        {{ form.name|as_crispy_field }}
                        
                        {{ form.comment|as_crispy_field }}
                        {{ form.department_active|as_crispy_field }}
                    
                    <button type="submit" class="btn btn-success float-right">
                        <i class="fa fa-save pr-1"></i>
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
