{% extends "templates/adminlte/base.html" %} {% load static %} 
{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Company List</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Company List</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'company_create' %}" class="btn btn-primary float-right">Create Company</a>
                {% comment %} <input type="submit" value="Save Changes" class="btn btn-success float-right"> {% endcomment %}
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table id="companyTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for company in company_list %}
                                <tr>
                                    <td>{{ company.name }}</td>
                                    <td>{{ company.email }}</td>
                                    <td class="project-actions text-right">
<a class="btn btn-primary btn-sm" href="#">
<i class="fas fa-folder">
</i>
View
</a>
<a class="btn btn-info btn-sm" href="#">
<i class="fas fa-pencil-alt">
</i>
Edit
</a>
<a class="btn btn-danger btn-sm" href="#">
<i class="fas fa-trash">
</i>
Delete
</a>
</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3">No companies found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pagination links -->
<div class="col-sm-12 col-md-7">
    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
        <ul class="pagination">

        {% if company_list.has_previous %}
        <li class="paginate_button page-item previous">
            <a
                href="?page={{ company_list.previous_page_number }}"
                aria-controls="example2"
                data-dt-idx="0"
                tabindex="0"
                class="page-link"
                >Previous</a
            >
        </li>
        {% endif %} 

        {% for i in company_list.paginator.page_range %} 
        {% if company_list.number == i %}
        <li class="paginate_button page-item active">
            <a
                href="#"
                aria-controls={{i}}
                data-dt-idx={{i}}
                tabindex="0"
                class="page-link"
                >{{ i }}</a
            >
        </li>
        {% else %}

        <li class="paginate_button page-item">
            <a
                href="?page={{ i }}"
                aria-controls="example2"
                data-dt-idx="2"
                tabindex="0"
                class="page-link"
                >{{ i }}</a
            >
        </li>
        {% endif %} {% endfor %}

        {% if company_list.has_next %}
        <li class="paginate_button page-item next">
            <a
                href="?page={{ company_list.next_page_number }}"
                aria-controls="example2"
                data-dt-idx="7"
                tabindex="0"
                class="page-link"
                >Next</a
            >
        </li>
        {% endif %}
    </ul>
</div>
</div>

{% endblock %}
