{% extends 'adminlte/base.html' %} 
{% load static %}
{% block additional_css %}

<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}" />

{% endblock %}
{% block title %}
Employee List {% endblock %} {% block content %} {% load crispy_forms_tags %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Employee List</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Employee List</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>


<section class="content">
    <div class="container-fluid">
        {% if perms.employee.add_employee %}

        <div class="row">
            <div class="col-12">
                <a href="{% url 'employee_create' %}" class="btn btn-primary float-right">Create Employee</a>
            </div>
            {% endif %}
        </div>
    </br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dataTables_length" id="employee-table_length">
                            <label>Show<select class="custom-select custom-select-sm form-control form-control-sm float-right" id="page-size-select">
                                <option value="5" {% if size == 5 %}selected{% endif %}>5</option>
                                <option value="10" {% if size == 10 %}selected{% endif %}>10</option>
                                <option value="25" {% if size == 25 %}selected{% endif %}>25</option>
                                <option value="50" {% if size == 50 %}selected{% endif %}>50</option>
                                <option value="100" {% if size == 100 %}selected{% endif %}>100</option>
                        </select>
                    </label>
                    </div>

                        <table id="employee-table" class="table table-striped table-hover">
                            
                            <thead>
                                <tr>
                                <th>Name</th>
                                <th>Staff ID</th>
                                <th>Location</th>
                                <th>Gender</th>
                                <th>Address</th>
                                <th>Position</th>
                                <th>Department</th>
                                <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee in employee_list %}
                                <tr>
                                {% comment %} <td><a href="{% url 'employee_details' employee.id %}">{{ employee.name }}</a></td> {% endcomment %}
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.staff_id|upper }}</td>
                                <td>{{ employee.location }}</td>
                                <td>{{ employee.gender }}</td>
                                <td>{{ employee.address }}</td>
                                <td>{{ employee.position }}</td>
                                <td>{{ employee.department }}</td>
                                
                                <td class="project-actions text-right">
                                    {% if perms.employee.view_employee %}

                                    <a class="btn btn-primary btn-sm" href="{% url 'employee_details' employee.id %}">
                                    <i class="fas fa-eye"></i>
                                    </a>
                                    {% endif %}
                                    {% if perms.employee.change_employee %}

                                    <a class="btn btn-info btn-sm" href="{% url 'employee_edit' employee.id %}">
                                    <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    {% endif%}
                                    {% if perms.employee.delete_employee %}

                                    <a class="btn btn-danger btn-sm" href="{% url 'employee_delete' employee.id %}">
                                    <i class="fas fa-trash"></i>
                                    </a>
                                    {% endif%}
                                </td>
                                </tr>
                                {% empty %}
                                <tr>
                                <td colspan="6" class="text-center">No employees found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                            {% if employee_list.has_previous %}
                                <li class="paginate_button page-item previous">
                                    <a href="?page={{ employee_list.previous_page_number }}&size={{ size }}" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                            {% endif %}

                            {% for i in employee_list.paginator.page_range %}
                                {% if employee_list.number == i %}
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="{{ i }}" data-dt-idx="{{ i }}" tabindex="0" class="page-link">{{ i }}</a>
                                    </li>
                                {% else %}
                                    <li class="paginate_button page-item">
                                        <a href="?page={{ i }}&size={{ size }}" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if employee_list.has_next %}
                                <li class="paginate_button page-item next">
                                    <a href="?page={{ employee_list.next_page_number }}&size={{ size }}" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pagination links -->

</div>

{% endblock %}

{% block additional_js %}

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
$(document).ready(function() {
  $('#page-size-select').on('change', function() {
    var pageSize = $(this).val();
    var page = getUrlParameter('page');
    var currentUrl = window.location.href;
    
    // Check if the URL already contains query parameters
    if (currentUrl.indexOf('?') > -1) {
      // Check if the size query parameter exists
      if (currentUrl.indexOf('size=') > -1) {
        // Replace the existing size value in the URL query parameter with the selected value
        var newUrl = currentUrl.replace(/(\?|&)size=\d+/, "$1size=" + pageSize);
        
        // Check if the page query parameter exists
        if (page) {
          // Replace the existing page value in the URL query parameter with the selected value
          newUrl = newUrl.replace(/(\?|&)page=\d+/, "$1page=" + page);
        }
        
        window.location.href = newUrl;
      } else {
        // Append the size query parameter to the existing URL
        window.location.href = currentUrl + '&size=' + pageSize;
      }
    } else {
      // Append the size query parameter to the URL
      window.location.href = currentUrl + '?size=' + pageSize;
    }
  });
  
  function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
  }
});
    $(document).ready(function() {
  $('#employee-table').DataTable({
    bPaginate: false,
    dom: 'Bfrtip',
    buttons: [
      'copy', 'csv', 'excel', 'pdf', 'print'
    ],
    
    "responsive": true, "lengthChange": false, "autoWidth": false,
  });
});

</script>

<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

<script>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    $(document).Toasts('create', {
        class: 'bg-success',
        title: 'Success',
        body: '{{ message }}',
        //autohide: true,
        //delay: 3000,
        position: 'topRight',
    });
    {% elif message.tags == 'error' %}
    $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Error',
        body: '{{ message }}',
        //autohide: true,
        //delay: 3000,
        position: 'topRight',
    });
    {% elif message.tags == 'warning' %}
    $(document).Toasts('create', {
        class: 'bg-warning',
        title: 'Warning',
        body: '{{ message }}',
        //autohide: true,
        //delay: 3000,
        position: 'topRight',
    });
    {% elif message.tags == 'info' %}
    $(document).Toasts('create', {
        class: 'bg-info',
        title: 'Information',
        body: '{{ message }}',
        //autohide: true,
        //delay: 3000,
        position: 'topRight',
    });
    {% endif %}
    {% endfor %}
    {% endif %}
</script>
{% endblock %}
