{% extends 'adminlte/base.html' %} {% load static %} {% block title %} Software
Details {% endblock %} {% block content %} {% load crispy_forms_tags %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Software Details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                    <li class="breadcrumb-item active">Software Details</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="card">
        <div class="card-body row">
            <div
                class="col-5 text-center d-flex align-items-center justify-content-center"
            >
                <div class="">
                    <h2><strong>{{software.license_name|upper }}</strong></h2>
                    {% comment %} <img src="{{ employee.logo.url }}" alt="{{ employee.name }}" width="200" height="200"> {% endcomment %}
                </div>
            </div>
            <div class="col-7">
                <div class="form-group">
                    <label for="inputName">License-Key</label>
                    <input type="text" id="inputName" value="{{software.license_key }}" class="form-control" disabled/>
                </div>


                <div class="form-group">
                    <label for="inputEmail">License-Name</label>
                    <input type="text" id="inputEmail" value="{{software.license_name }}" class="form-control" disabled/>
                </div>
                 
                <div class="form-group">
                    <label for="inputEmail">License-Email</label>
                    <input type="text" id="inputEmail" value="{{software.license_email }}" class="form-control" disabled/>
                </div>
                
                
                <div class="form-group">
                    <label for="inputEmail">License-Allocated</label>
                    <input type="text" id="inputEmail" value="{{software.license_allocated }}" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">License-Type</label>
                    <input type="text" id="inputEmail" value="{{software.license_type }}" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Purchase-Date</label>
                    <input type="decimal" id="inputEmail" value="{{software.purchase_date }}" class="form-control" disabled/>
                </div>

                <div class="form-group"p
                    <label for="inputEmail">Purchase-Order</label>
                    <input type="text" id="inputEmail" value="{{software.purchase_order }}" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Seats</label>
                    <input type="text" id="inputEmail" value="{{software.seats }}" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Expiration-Date</label>
                    <input type="url" id="inputEmail" value="{{software.expiration_date }}" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Purchase-Cost</label>
                    <input type="name" id="inputEmail" value="{{software.purchase_cost }}" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Supplier-Id</label>
                    <input type="text" id="inputEmail" value="{{software.supplier_id }}" class="form-control" disabled/>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Comments</label>
                    <input type="text" id="inputEmail" value="{{software.comments }}" class="form-control" disabled/>
                </div>
                {% if perms.software.add_software %}


                <div class="form-group">
                    <a href="{% url 'software_edit' software.id %}" class="btn btn-primary float-right">Edit</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
